
/*  Created by Jean Deguzman for POOSD Fall 2025, Group 29
    css file for index.html and register.html               */

#body
{
    background-image: url("watter_effect.jpg");
    background-color: rgba(255, 255, 255, 0.475);
    background-blend-mode: lighten;
}

#fieldDiv
{
    background-image: linear-gradient(to bottom right, rgba(186, 222, 232, 1) 0%, rgba(15, 155, 186, 1) 100%);
    border-style: ridge;
    border-color: white;
    border-radius: 10px;
    border-width: 10px;
    margin: 5% 15% 5% 15%;
}

#head
{
    color: black;
    font-family: "Audiowide", sans-serif;
    font-size: 35px;
    text-align: center;
}

#instruct
{
    color: black;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;

}

.field
{
    border-radius: 7px;
    font-family: Arial, sans-serif;
    font-size: 23px;
    height: 7%;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    width: 70%;
}

#firstName, #lastName
{
    border-radius: 7px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    height: 7%;
    margin-bottom: 15px;
    margin-left: 10%;
    width: 35%;
}

.button
{
    background-color: rgb(239, 132, 10);
    border-color: rgb(52, 100, 109);
    border-radius: 20px;
    border-style: outset;
    border-width: 5px;
    color: white;
    float: left;
    font-size: 14pt;
    font-weight: bold;
    height: 9%;
    margin-left: 43%;
    margin-top: 10px;
    width: 15%;
    cursor: pointer;
}

#loginButton
{
    margin-left: 43%;
    margin-bottom: 10px;
}

#attribution
{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    margin-left: 5%;
}

#regText, #loginText
{
    font-family: Arial, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    height: 7%;
    margin-right: 10%;
    margin-top: 28px;
    text-align: right;
}

#regLink, #loginLink
{
    font-family: Arial, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    height: 7%;
    text-align: right;
}

.error
{
    display: block;
    color: rgb(112, 6, 6);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    visibility: hidden;
}

.warningImg
{
    height: 20px;
    width: 20px;
}

.fieldLabel
{
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    margin-left: 10%;
    width: 35%;
}

.field:focus, .button:focus, #regLink:focus, #attrLink:focus,
#firstName:focus, #lastName:focus, #loginText:focus, #loginLink:focus 
{
    outline: none;
    border: 5px solid rgb(172, 92, 0);
}   

.field:hover, .button:hover, #firstName:hover, #lastName:hover
{
    outline: none;
    border: 5px solid rgb(236, 221, 0);
}

.button:hover
{
    outline: none;
    border: 5px solid rgb(236, 221, 0);
    background-color: rgb(160, 90, 11);
}

#regLink:hover, #attrLink:hover, #loginLink:hover
{
    background-color:  rgba(236, 220, 0, 0.71);
}
